@model MoveIT.Models.MoveInfoViewModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <div>
        <hr/>
        <div class="col-md-4">
            <h4>Adressuppgifter</h4>
            <div class="form-group">
                @Html.LabelFor(model => Model.Name)
                <div>
                    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoveFrom)
                <div>
                    @Html.TextBoxFor(model => model.MoveFrom, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoveTo)
                <div>
                    @Html.TextBoxFor(model => model.MoveTo, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Distance)
                <div>
                    @Html.TextBoxFor(model => model.Distance, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4>Om Bostaden</h4>

            <div class="form-group">
                @Html.LabelFor(model => model.MainArea)
                <div>
                    @Html.TextBoxFor(model => model.MainArea, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExtraArea)
                <div>
                    @Html.TextBoxFor(model => model.ExtraArea, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(model => model.Piano)
                @Html.LabelFor(model => model.Piano)
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(model => model.HelpPacking)
                @Html.LabelFor(model => model.HelpPacking)
            </div>

            <div class="form-group">
                <div class="margin-up">
                    <input type="submit" value="Beräkna" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

